table{
  border: 2px solid;
  padding: 5px;
  margin: 100px;
  width: 90%;
  height: 100%;
  
}
td, tr,th{
  border:2px solid;
  color:white;
}

h1,h2,h3{
  color:white;
}

body
{
background-color:black;
}
